@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body,
input[type="text"],
textarea {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;

  margin: 0;
  padding: 0;

  background-color: #eeeeee;
  /* background-color: rgb(15, 24, 36); */
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #999999 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }