@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.center{
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: left;   

    max-width: 600px;
    width: 100%;

    /* border: 1px solid black; */
}

.center .title{
    font-size: 1.25em;
    padding: 0.5em;

    margin-top: 0.75em;
    margin-bottom: 1em;

    border: 2px solid white;
    border-bottom: 2px solid #11753b;
    border-radius: 4px;
    outline: none;
    background-color: white;

    transition: 0.1s;
}
.center .title:focus{
    border: 2px solid #1B9D51;
}

.center .body{
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1.5em;

    border: 2px solid white;
    border-bottom: 2px solid #11753b;
    border-radius: 4px;
    outline: none;
    background-color: white;

    transition: 0.1s;
}
.center .body:focus{
    border: 2px solid #1B9D51;
}

.center .post_btn{
    font-family: inherit;
    font-size: 1em;

    padding: 1em;

    color: white;
    background-color: #1B9D51;
    border: 2px solid #1B9D51;
    border-radius: 5px;
    
    transition: 0.1s;
}

.center .post_btn:hover{
    background-color: #11753b;
    border: 2px solid #11753b;
}