.navbar{
    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: calc(100% - 2em);

    background-color: #1B9D51;
    padding: 0.7em 1em;

    z-index: 9999;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
    width: 100%;
}

.navbar .container .logo{
    color: white;
    font-size: x-large;
}

.navbar .container .links{
    display: flex;
    flex-direction: row;

    margin-left: 2em;
}
.navbar .container .links > .link_container{
    
}
.navbar .container .links > .link_container .link{
    text-decoration: none;
    color: white;

    padding: 0.6em;
}
.navbar .container .links > .link_container .link.active{
    color: #ffffff;


}

.navbar .container .actions{
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
}
.navbar .container .actions > .link_container{
    
}
.navbar .container .actions > .link_container .link{
    text-decoration: none;
    color: white;

    padding: 0.6em;
}