.main {
    display: flex;
    flex-direction: column;

    width: calc(100% - 1.5em);
    padding: 1em 0.75em;
    margin-bottom: 0.2em;
    background-color: white;
}

.content {}

.content.text {
    display: flex;
    flex-direction: column;
}

.content.text .text_content .title {
    word-break: break-word;
    font-weight: 600;

    margin-bottom: 0.5em;
}

.content.text .text_content .body {
    word-break: break-word;
}

.content.img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.content.img .text_content {
    display: flex;
    flex-direction: column;


    height: 300px;
}

.content.img .text_content .title {
    word-break: break-word;
    font-weight: 600;

    margin-bottom: 0.5em;
}

.content.img .text_content .body {
    word-break: break-word;

    overflow-y: auto;
    flex: 1 1 auto;
}

.content.img .img_slider {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;

    user-select: none;

    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.content.img .img_slider>.img_container {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.content.img .img_slider>.img_container .img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 5px;

    opacity: 0;

    transition: 0.1s ease-in-out;
}

.content.img .img_slider>.img_container .img.active {
    opacity: 1;
}

.content.img .img_slider .left_arrow {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    left: 0.25em;
    cursor: pointer;

}

.content.img .img_slider .left_arrow .icon {
    font-size: 1.5em;
}

.content.img .img_slider .right_arrow {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    right: 0.25em;
    cursor: pointer;
}

.content.img .img_slider .right_arrow .icon {
    font-size: 1.5em;
}

.content.img .img_slider .img_counter {
    position: absolute;

    top: 0.4em;
    right: 0.4em;

    color: white;
    font-size: 0.9em;

    width: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.25em 0.5em;
    border-radius: 30px;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0.75em;
}

.tags>.tag {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: small;
    background-color: #66b888;
    color: #000;
    width: fit-content;
    margin-right: 0.25em;
    padding: 0.3em 0.7em;
    border-radius: 20px;
}

.tags>.tag .text {

}